.notVisible {
  display: none;
}

.mainBlock {
  position:relative;
}

.iconChat {
  background-image: url("../../images/chat1.svg");
  display: block;
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 30px;
  right: 30px;
}

.blockChat {
  display: block;
  position: fixed;
  width: 270px;
  min-height: 250px;
  bottom: 35px;
  right: 30px;
  background: #faf9f5;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-radius: 5px;
}

.iconClose {
  display: block;
  position: absolute;
  top: 0;
  right: 5px;
  color: black;
}

.blockMessages {
  display: block;
  width: 100%;
  max-height: 400px;
  overflow: auto;
  margin-bottom: 50px;
}
.sendsUser {
  overflow: auto;
  height: auto;
  padding-bottom: 40px;
}
.sendUser {
  min-height: 30px;
  height: auto;
  width: 90%;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
}

.userData, .userMessage {
  display: inline-flex;
}

.userData {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  img {
    width: 80%;
    height: 80%;
    text-align: center;
    margin: 0 auto;
  }
}

.userMessage {
  width: 70%;
  height: 100%;
  flex-direction: column;
  p {
    color: #888888;
    width: 100%;

  }
  div {
    background: #999999;
    padding: 3px 5px;
    text-align: left;
    width: 100%;
  }

}

.blockIntroduce {
  position: absolute;
  bottom: 10px;
  left: 5px;
  input {
    border-radius: 2px;
  }
  button {
    background: #303f9f;
    margin-left: 10px;
    padding: 3px 5px;
    border-radius: 5px;
  }
  right: 35px;
  height: 20px;
  width: 100%;
  color: black;
}

