@import 'styles/_colors.scss';

.button {
  border: none;
  border-radius: 10px;
  background-color: $orange;
  height: 32px;
  color: #fff;
  box-shadow: #999 3px 3px 9px 0;  
  width: 105px;
  margin: auto;
}
