@import 'styles/_colors.scss';

.button {
  border: none;
  border-radius: 10px;
  background-color: $orange;
  height: 32px;
  color: #fff;
  box-shadow: #999 3px 3px 9px 0;
  width: 105px;
  margin: auto;
}

.reminder {
  border: none;
  border-radius: 10px;
  background-color: #bcbec0;
  height: 32px;
  color: #fff;
  box-shadow: #999 3px 3px 9px 0;
  width: 200px;
  margin-bottom: 14px;
  &:hover {
    box-shadow: #888 3px 3px 9px 0;
    background-color: $violet;
  }

  &:active {
    box-shadow: #999 1px 1px 3px 0;
  }
}

.ok {
  border: none;
  border-radius: 10px;
  background-color: $orange;
  height: 32px;
  color: #fff;
  box-shadow: #999 3px 3px 9px 0;
  width: 200px;
  &:hover {
    box-shadow: #888 3px 3px 9px 0;
    background-color: $violet;
  }

  &:active {
    box-shadow: #999 1px 1px 3px 0;
  }
}
