.login h3 {
    color: #3f51b5;
    font-size: 30px;
    font-weight: 500;
    margin: 5px;
    margin-top: 14px;
    text-align: center;
  }
  
  .login_inputEmail {
    color: #3f51b5;
    font-size: 12px;
    text-align: center;
    margin-top: 35px;
  }
  
  .login_box {
    border: solid 0px #3f51b5;
    border-bottom: solid 1px #3f51b5;
    width: 70%;
    height: 35px;
  }
  
  .login_inputEmail span {
    margin-right: 15px;
  }
  
  .login_box:focus {
    outline: none;
  }
  