@import 'styles/_colors.scss';

.wrapper {
  display: flex;
}

.login h3 {
  color: #3f51b5;
  font-size: 30px;
  font-weight: 500;
  margin: 5px;
  margin-top: 14px;
  text-align: center;
}

.login_inputEmail {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #3f51b5;
  font-size: 12px;
  // text-align: center;
}

.login_box {
  border: solid 0px #3f51b5;
  border-bottom: solid 1px #3f51b5;
  width: 250px;
  padding: 5px;
  margin-top: 10px;
}

.login_inputEmail span {
  margin-right: 15px;
}

.login_box:focus {
  outline: none;
}

.close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 10px;
  height: 10px;
  padding: 0;
}

.title {
  color: $violet;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-align: center;
}

.btn {
  display: flex;
  align-items: center;
  width: 125px;
  min-height: 35px;
  background-color: #f1f2f2;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 10px;

  &:hover {
    background-color: #e2e2e2;
  }
}

.btn_img {
  width: 20px;
  margin: 0 12px;
  vertical-align: middle;
}

.btn_img_google {
  @extend .btn_img;

  width: 25px;
}

.button {
  @extend .btn;
  width: 250px;
  // margin: 0 auto;
  display: flex;
  justify-content: center;
}

.restore_password_link {
  color: #f29473;
  text-decoration: underline;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.login_link, .register_link {
  @extend .restore_password_link;
  position: absolute;
  bottom: 20px;
}

.register_link {
  @extend .restore_password_link;

}

.left {
  padding: 10px;
  border-right: #aaa 2px solid;
  width: 350px;
}

.right {
  padding: 10px;
  width: 350px;

}