@import 'styles/_colors.scss';

.header {
  display: flex;
  justify-content: space-between;
  padding: 16px 50px;
  background-color: $violet;
  color: #fff;
  align-items: center;

  a {
    color: #fff;
    transition: transform 200ms;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.login_link {
  &::after {
    content: '|';
    display: inline-block;
    margin: 0 10px;
  }
}

.logo_link {
  display: block;
  width: 200px;

  img {
    width: 100%;
  }
}
