.register_form{
     width: 35%;
     min-width: 200px;
     margin: auto;
     margin-top: 12%;
     border: solid 1px #d7d8d8;
     box-shadow: 1px 1px 1px 2px #d7d8d8;
}

.register_form H3{
    color: #3f51b5;
    font-size: 30px;
    font-weight: 500;
    margin: 5px;
    margin-top: 14px;
    text-align: center;
}

.register_name{
    color: #3f51b5;
    font-size: 12px;
    text-align: center;
    margin-top: 35px;
}

.register_name input{
    border: solid 0px #3f51b5;
    border-bottom: solid 1px #3f51b5;
    width: 70%;
    height: 35px;
}
.register_name span{
     margin-right: 15px;
}

.register_name:focus{
  outline: none;
}

.register_email{
     color: #3f51b5;
     font-size: 12px;
     text-align: center;
     margin-top: 35px;
}

.register_email input{
    border: solid 0px #3f51b5;
    border-bottom: solid 1px #3f51b5;
    width: 70%;
    height: 35px;
}

.register_email span{
     margin-right: 15px;
}

.register_email:focus{
  outline: none;

}

.register_password{
   color: #3f51b5;
   font-size: 12px;
   text-align: center;
   margin-top: 35px;
}

.register_password input{
     border: solid 0px #3f51b5;
     border-bottom: solid 1px #3f51b5;
     width: 70%;
     height: 35px;
}

.register_password span{
     margin-right: 15px;
}

.register_password:focus{
  outline: none;
}

.register_submit{
    text-align: center;
}

.register_submit input{
     background-color: #ee6337;
     margin: 25px;
     border-radius: 8px;
     border: solid 1px #ee6337;
     color: white;
     width: 125px;
     height: 35px;
     font-size: 18px;
}

.register_submit input:focus {
  outline: none;
}