.Login{
    width: 25%;
    margin: auto;
    margin-top: 15%;
    border: solid 1px #d7d8d8;
    box-shadow: 1px 1px 1px 2px #d7d8d8;
}
.Login H3{
    color: #3f51b5;
    font-size: 20px;
    font-weight: 500;
    margin: 10px;
    text-align: center;
}
.Login_inputEmail{
    color: #3f51b5;
    font-size: 18px;
    text-align: center;

}
.Login_inputEmail input{
    border: solid 0px #3f51b5;
    border-bottom: solid 1px #3f51b5;
    width: 70%;
}
.Login_inputEmail span{
    margin-right: 15px;
}

.Login_inputEmail input:focus {
  outline: none;
}


.Login_inputPassword{
     color: #3f51b5;
     font-size: 18px;
     text-align: center;

}
.Login_inputPassword input{
    border: solid 0px #3f51b5;
    border-bottom: solid 1px #3f51b5;
    width: 70%;
}
.Login_inputPassword input:focus{
    outline: none;
}

.Login_inputPassword span{
    margin-right: 15px;
 
}

.Login_submit  {
    text-align: center;
}
.Login_submit input{
    background-color: #ee6337;
    margin: 25px;
    border-radius: 5px;
    border: solid 1px #ee6337;
    color: white;

}

.Login_submit input:focus{
    outline: none;
}